@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'poppins' , sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(31, 31, 84);
    height: 70px;
}
nav ul{
    display: flex;
    justify-content: center;
  
}
nav ul li{
    list-style: none;
    margin: 0 23px;
    
}
nav ul li a{
    color: white;
}
nav ul li a:hover{
    color: rgb(172, 172, 231);
    font-size: 1.04rem;
}
.left{
    font-size: 1.7rem;
}
main hr{
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;

}
.firstSection{
display: flex;
justify-content: space-around;
align-items: center;
margin: 13px 0;
}
.firstSection > div{
    width: 30%;

}
.leftSection{
    font-size: 3rem;  
}
.leftSection .buttons{
    padding: 50px 0;
}
.leftSection .btn{
    padding: 12px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.purple{
   color: rgb(191, 147, 233); 
}
.texr-gray{
    color: gray;
    font-size: 2px;
}
#element{
    color: rgb(191, 147, 233);   
}
.secondSection{
    margin: auto;
    max-width: 80vw;
    height: 80vh;
}
.secondSection h1{
   font-size: 1.9rem; 
}
.secondSection .box{
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.secondSection .vertical{
    height: 93px;
    width:1px ;
    background-color: white;
    margin: 0 100px;
}
.image-top{
    width: 23px;
    position: relative;
    top: -32px;
    left: -9px;
}
.vertical-title{
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 14px;
}
.vertical-desc{
position:relative;
color: gray;
font-size: 9px;
top:85px ;
width: 150px;
}
footer{
    background-color:rgb(24, 24, 36);
    
}
.footer{
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}
.footer ul{
    list-style: none;
}
.footer >div{
    width:233px ;
}
footer .footer-rights{
   text-align: center; 
   padding: 12px 0;
   color: gray;
}